.width-400 {
    width: 400px;
}

.height-150 {
    height: 150px;
}

.margin {
    margin: 50px;
}

.display-flex {
    display: flex;
}

.paginator-style {
    width: 20%;
    background-color: gray !important;
    margin-top: 100px;
    color: white
}