
.color-white {
    color: white
}

.color-ababab {
    color: #ababab
}

.background-color-card {
    background-color: #393939;
}

.background-white {
    background-color: white;
}

.margin {
    margin: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-100 {
    margin-right: 100px;
}

.padding-type {
    padding: 10px 10px 10px 10px;
}

.img-size {
    width: 300px;
    height: 300px;
}

.img-size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.font-weight-bold {
    font-weight: bold
}

.font-size-18 {
    font-size: 18px
}

.underline {
    text-decoration: underline;
}

.padding-info {
    padding: 10px 30px 10px 30px;
}

.svg-position {
    position: absolute;
    top: -10px;
    right: 30px;
    max-width: 100%; 
    max-height: 100%;
}

.stat-container {
    height: 31px;
    width: 141px;
}

.stat-data-container {
    background-color: #F6EEE4;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}